{% extends 'base_.html' %}
{% block body %}
<div class="w3-row-padding w3-section w3-stretch">
{{ pagination.info }}
{% for notes in notes %}
<div class="w3-col s6 m4 l3 w3-card-4">
 <h4 class="w3-center"><a href="{{ url_for('notes1.note_view', id=notes.id) }}"> {{ notes.title }}</a> </h4>
 
 <div class="w3-cell-row">
 {% for tag in notes.tags %}
   <a href="{{ url_for('notes1.tag_view',tag=tag.name) }}" class="w3-cell w3-padding w3-mobile w3-border-large w3-border w3-border-green w3-center" style="color:{{ tag.theme }}">
   {{ tag }}
   </a>
 {% endfor %}
 </div>
 <p>{{ notes.intro }}<p>
  <p class="w3-blue-gray w3-border-large w3-center" style="margin-left:10%; margin-right:10%;"><script>document.write(formatTimeAgoShort("{{ notes.created_on }}"));</script> </p>
 
</div>
{% endfor %}
<div class="w3-container">
{{ pagination.links }}
</div>
{% endblock %}
</div>