<div class="w3-container">
 <div id="searchModal" style="display:none;" class="w3-modal-content w3-animate-zoom w3-display-container w3-card-4">
 <!-- Remove tab -->
 <button class="w3-display-topright w3-btn w3-transparent" onclick="w3.hide('#searchModal');">
 <i class="w3-xlarge fa fa-remove"></i>
 </button>
 <!--form -->
 <div class="w3-container">
  <form class="w3-form" id="searchForm" action="{{ url_for('notes1.search_view') }}" method="POST" enctype="multipart/form-data">
  
  <div class="w3-third">
   <label for="filter">Filter</label>
   <select name="filter" class="w3-input">
   {% for value in ["any", "title", "tag", "content", "intro", "file", "time", "author"] %}
    <option value='{{ value }}'>{{ value.capitalize() }}</option>
   {% endfor %}
    </select>
    
    <label for="display">Display</label>
    <input class="w3-input" type="number" name="display" required value="7">
    </input>
    
  </div>
  
  <div class="w3-rest w3-container">
   <input class="w3-input w3-left" type="search" required placeholder="Search..." name="q" onkeyup="handleSubmit();">
   </input>
  <button type="submit" class="w3-right">
   <i class="fa fa-search w3-large w3-transparent"></i>
  </button>
  </div>
  
  </form>
  
  </div>
  
  <div id="searchDisplay">
  <!-- Live search result rendered here -->
  </div>
  
 </div>
</div>